<head>
  <title><%= @model.ime %></title>
</head>
<body>
	<h1 ><%= @model.ime%></h1>


	<table class="rwd-table center">
		<th>Specifikiacije modela</th>
		<tr><td><%= @model.sifra_modela %></td></tr>
		<tr><td><%= @model.duzina %></td></tr>
		<tr><td><%= @model.menjac %></td></tr>
		<tr><td><%= @model.snaga %></td></tr>
		<tr><td><%= @model.broj_brzina %></td></tr>
		<tr><td><%= @model.cena %></td></tr>
		<tr><td><%= @model.valuta %></td></tr>
	</table>

	<p id="boja-teksta">Cena bez PDVa je: <%= @model.cena*(1/1.2) %></p>
</body>